<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/unit/bootstrap.php">
    <testsuites>
        <testsuite name="Quixr tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">PHP</directory>
        </whitelist>
    </filter>
</phpunit>